.titleDouble{
    font-family: PoppinsBold;
    font-size: 34px;
    text-align: left;
    line-height: 34px;
    overflow: visible;
    margin-left: 15vh;
}

.doubleTop{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #474747;
    -webkit-text-fill-color: transparent;
}

.doubleBot{
    margin-left: 20px;
    color: #A58DA1;
}
