.titleDouble{
    font-family: PoppinsBold;
    font-size: 34px;
    line-height: 34px;
    overflow: visible;
    margin-left: 15vh;
}

.doubleTop{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #474747;
    -webkit-text-fill-color: transparent;
}


.QuoteDiv{
    display: flex;
    margin: 0 12vw 0 22vw;
    margin-top: 70px;
    background-color: green;
}

.quoteIconL{
    width: 50px;
    display: flex;
}

.quoteIconR{
    width: 50px;
    display: flex;
    align-items: flex-end;
}

.iconQuote{
    width: 50px;
    height: 50px;
}

.quoteText{
    width: 50px;
    flex: 1;
    margin: 30px 15px;
    font-size: 14px;
    font-family:  PoppinsItalic;
}

.skillBox{
    width: 320px;
    background-color: white;
    border-radius: 12px;
    padding-top: 50px;
    padding: 50px 25px 40px 25px;
}

.skillIcon{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    position: absolute;
    margin-top: -80px;
}

.skillImg{
    width: 35px;
}

.skillTitle{
    font-size: 18px;
    font-family: PoppinsSemiBold;
    margin-bottom: 20px;
}

.skillText{
    font-size: 14px;
    font-family: PoppinsRegular;
    font-weight: 300;
    letter-spacing: .3px;
}



.caroussel{
    display: flex;
    height: 450px;
    margin-top: 20vh;
}

.bigArrowBox{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.arrow{
    width: 70px;
    transition-duration: .3s;
}

.bigArrowBox:hover .arrow{
    width: 75px;
}



.midBox{
    flex: 1;
    display: flex;
}

.leftBox{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0 60px;
}

.topBox{
    margin-top: 40px;
}

.botBox{
    margin-top: 40px;
}

.rightBox{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightImage{
    height: 400px;
}