:root{
    --blue1: #252F41;
    --blue2 : #293448;
    --blue3: #4B70B8;
    --white1: #fff;
    --gray1: #E6E6E6;
    --gray2: #9C9C9C;
    --red : #A91414;

}

*{
    box-sizing: border-box;
    overflow: visible;
}

.App {
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg,
    #CDDAFD 0%,
    #BEE1E6 50%,
    #FAD2E1 100%
    );
    /*background: url("./images/BG.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -135px;*/
    width: 100vw;
    min-height: 500vh;
}