:root{
    --blue1: #252F41;
    --blue2 : #293448;
    --blue3: #4B70B8;
    --white1: #fff;
    --gray1: #E6E6E6;
    --gray2: #9C9C9C;
    --red : #A91414;

}

*{
    box-sizing: border-box;
    overflow: auto;
}

.app {
    margin: 0;
    padding: 0;
    background-color: var(--gray1);
    width: 100vw;
}